<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/coverage.xml" />
    </logging>
    <testsuites>
        <testsuite name="vaibhavpandeyvpz/phemail">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
